.checkbox[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  width: 20px;
  height: 20px;
  border: 1px solid #072c9e;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox[type="radio"]:active {
  box-shadow: inset 0 0 0 0.125rem #072c9e;
}
.checkbox[type="radio"]:checked {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="rgb(7, 44, 158)"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>');
  background-position: center;
  box-shadow: none;
}
.checkbox[type="radio"]:checked:active {
  opacity: 0.9;
}
.checkbox[type="radio"]::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 98, 255, 0);
  position: absolute;
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  will-change: transform background-color;
}
