/* .tableContainer {
  border-collapse: collapse;
  width: 70%;
  margin: 3rem auto;
} */

/* table td {
  border: 1px solid green;
  border-radius: 50px;
  padding: 8px;
}

table tr {
  border: 1px solid green;
} */

/* table tr:hover {
  background-color: #ddd;
} */

/* .tableContainer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #012749;
  color: white;
} */
